
.navbar{
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar #logo{
    height: 100%;
    width: 200px;
    
}
.navbar .navbar_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    color: rgb(2, 150, 56);
    font-size: 18px;
    list-style-type: none;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #494d59;
    border: 1px solid rgb(2, 150, 56);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: rgb(229, 255, 229);
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(2, 150, 56);
}
.navbar li{
    cursor: pointer;
}
.navbar-searchicon{
    position: relative;
}
.navbar-searchicon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color:rgb(2, 150, 56) ;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}