.card {
    position: relative; /* Adjust as needed */ /* Adjust as needed */
    /* Ensures content doesn't overflow */
  }
  
  .product--image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .product_content {
    position: absolute;
    color: white; /* Text color for contrast */
    padding: 10px; /* Adjust as needed */
    max-width: 50%;
    bottom: 28%;
    left: 5vw; 
    animation: fadeIn 1.5s
    /* Ensures padding is included in element's total width and height */
  }
  
  h2, .price, button {
    margin: 8px;
    padding: 5px 2px; /* Adjust as needed */
    font-size: 1.5rem;
  }
  
  button {
    background-color: #08542f; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove default border */
    padding: 20px 30px; /* Adjust as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    border-radius: 40px;
  }
  
  button:hover {
    background-color: #919191; /* Darker background on hover */
  }
  